In [3]:
import pandas as pd
df = pd.read_excel('trainingdata.xlsx')
df.head()

   import_date  prev_quantity  curr_quantity  export_price  last_sale  label
0           99           1399            906     212000000        101     -1
1           99            328            301     369000000         10      0
2          272           2213           1418     403000000        111     -1
3           33            453             66     454000000          4      1
4          301           2231            797     362000000        219     -1

In [4]:
df['import_date'] = df['import_date'] / max(df['import_date'])
df['import_date'].head()

0    0.273973
1    0.271233
2    0.745205
3    0.090411
4    0.824658
Name: import_date, dtype: float64

In [5]:
df['prev_quantity'] = df['prev_quantity'] / max(df['prev_quantity'])
df['prev_quantity'].head()

0    0.560946
1    0.131516
2    0.887330
3    0.181636
4    0.894547
Name: prev_quantity, dtype: float64

In [6]:
df['curr_quantity'] = df['curr_quantity'] / max(df['curr_quantity'])
df['curr_quantity'].head()

0    0.387179
1    0.128632
2    0.605983
3    0.028205
4    0.340598
Name: curr_quantity, dtype: float64

In [7]:
df['export_price'] = (df['export_price'] - min(df['export_price'])) / max(df['export_price'])
df['export_price'].head()

0    0.394
1    0.708
2    0.776
3    0.878
4    0.694
Name: export_price, dtype: float64

In [9]:
df['last_sale'] = df['last_sale'] / max(df['last_sale'])
df['last_sale'].head()

0    0.286932
1    0.028409
2    0.315341
3    0.011364
4    0.622159
Name: last_sale, dtype: float64

In [21]:
X = df.drop(['label'], axis=1)
y = df['label']
X.head(), y.head()

(   import_date  prev_quantity  curr_quantity  export_price  last_sale
 0     0.273973       0.560946       0.387179         0.394   0.286932
 1     0.271233       0.131516       0.128632         0.708   0.028409
 2     0.745205       0.887330       0.605983         0.776   0.315341
 3     0.090411       0.181636       0.028205         0.878   0.011364
 4     0.824658       0.894547       0.340598         0.694   0.622159,
 0   -1
 1    0
 2   -1
 3    1
 4   -1
 Name: label, dtype: int64)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y ,random_state=104, test_size=0.25)
X_train.head(), X_test.head(), y_train.head(), y_test.head()

(      import_date  prev_quantity  curr_quantity  export_price  last_sale
 190      0.298630       0.919808       0.838889         0.760   0.289773
 1933     0.150685       0.151163       0.042308         0.410   0.014205
 1802     0.745205       0.690457       0.434615         0.212   0.312500
 1362     0.167123       0.335204       0.142735         0.356   0.107955
 1278     0.104110       0.224940       0.035470         0.410   0.008523,
       import_date  prev_quantity  curr_quantity  export_price  last_sale
 2426     0.282192       0.315156       0.141453         0.068   0.062500
 2229     0.361644       0.646752       0.311538         0.356   0.321023
 183      0.104110       0.197674       0.023077         0.028   0.014205
 2691     0.128767       0.167201       0.041453         0.128   0.000000
 906      0.260274       0.288693       0.023077         0.024   0.005682,
 190    -1
 1933    1
 1802   -1
 1362    0
 1278    1
 Name: label, dtype: int64,
 2426    0
 2229   -1
 183     1
 2691    1
 906     1
 Name: label, dtype: int64)

In [30]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [31]:
from sklearn.metrics import accuracy_score
predictions = model.predict(X_test)
accuracy_score(y_test, predictions)

1.0

In [32]:
import joblib
joblib.dump(model, 'label.joblib')

['label.joblib']

In [33]:
df = pd.read_excel('sale.xlsx')
df.head()

   import_date  prev_quantity  curr_quantity  export_price  last_sale  sale
0          334           1490            954     118000000        108     8
1          132            636            618     246000000        118    15
2          114           2230           1936     221000000        106    14
3          276           2372            791     270000000        230    17
4          179            937            611     268000000        118    17

In [34]:
df['import_date'] = df['import_date'] / max(df['import_date'])
df['import_date'].head()

0    0.915068
1    0.361644
2    0.312329
3    0.756164
4    0.490411
Name: import_date, dtype: float64

In [35]:
df['prev_quantity'] = df['prev_quantity'] / max(df['prev_quantity'])
df['prev_quantity'].head()

0    0.597434
1    0.255012
2    0.894146
3    0.951083
4    0.375702
Name: prev_quantity, dtype: float64

In [36]:
df['curr_quantity'] = df['curr_quantity'] / max(df['curr_quantity'])
df['curr_quantity'].head()

0    0.407692
1    0.264103
2    0.827350
3    0.338034
4    0.261111
Name: curr_quantity, dtype: float64

In [37]:
df['export_price'] = (df['export_price'] - min(df['export_price'])) / max(df['export_price'])
df['export_price'].head()

0    0.136
1    0.392
2    0.342
3    0.440
4    0.436
Name: export_price, dtype: float64

In [38]:
df['last_sale'] = df['last_sale'] / max(df['last_sale'])
df['last_sale'].head()

0    0.306818
1    0.335227
2    0.301136
3    0.653409
4    0.335227
Name: last_sale, dtype: float64

In [39]:
X = df.drop(['sale'], axis=1)
y = df['sale']
X.head(), y.head()

(   import_date  prev_quantity  curr_quantity  export_price  last_sale
 0     0.915068       0.597434       0.407692         0.136   0.306818
 1     0.361644       0.255012       0.264103         0.392   0.335227
 2     0.312329       0.894146       0.827350         0.342   0.301136
 3     0.756164       0.951083       0.338034         0.440   0.653409
 4     0.490411       0.375702       0.261111         0.436   0.335227,
 0     8
 1    15
 2    14
 3    17
 4    17
 Name: sale, dtype: int64)

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y ,random_state=104, test_size=0.25)
X_train.head(), X_test.head(), y_train.head(), y_test.head()

(     import_date  prev_quantity  curr_quantity  export_price  last_sale
 269     0.857534       0.451083       0.333333         0.488   0.588068
 776     0.802740       0.951083       0.836325         0.448   0.306818
 509     0.304110       0.242582       0.213675         0.606   0.289773
 784     0.380822       0.401363       0.358120         0.304   0.392045
 477     0.432877       0.751002       0.447863         0.794   0.332386,
      import_date  prev_quantity  curr_quantity  export_price  last_sale
 808     0.293151       0.524459       0.396581         0.074   0.306818
 83      0.756164       0.988372       0.898291         0.168   0.431818
 643     0.375342       0.650361       0.324359         0.868   0.392045
 895     0.747945       0.476744       0.397863         0.890   0.667614
 536     0.635616       0.740978       0.514103         0.196   0.463068,
 269    18
 776    17
 509    21
 784    13
 477    27
 Name: sale, dtype: int64,
 808     7
 83      9
 643    29
 895    29
 536    10
 Name: sale, dtype: int64)

In [79]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [80]:
predictions = model.predict(X_test)

In [81]:
predictions

array([ 6.56776096,  9.22994802, 28.58129224, 29.20167343,  9.97482723,
       21.52354457, 25.55669919, 14.09545146, 23.80775128, 20.58378606,
       18.06445922, 24.70290151, 16.61944074,  6.66454635, 25.20423105,
       22.19152958, 28.48218817, 15.82051897, 12.43973052, 10.01531957,
        8.41822035, 11.58522133, 24.69859036,  7.66499703, 18.27335114,
       24.79216575, 23.40691146, 26.58550968,  8.0806934 ,  6.81848663,
       13.86608035,  5.1173214 , 10.90053638, 14.2805065 , 27.96291247,
       29.42929972, 19.60727089, 16.08599938, 24.87113971, 28.61770359,
       28.75862178, 18.59872807, 19.78287007, 26.37148626, 17.88472055,
        5.53517669, 11.64913454, 20.59091926, 25.51333333, 21.69947381,
        7.97756835, 15.94438876, 29.04622348, 16.16894495, 25.516251  ,
       28.8392331 , 22.38979117, 19.80139988, 14.10351117, 12.95641516,
       28.98330081, 25.72727487, 10.25454192, 11.87010317,  8.71681516,
       10.23117578, 17.80047853,  7.11425736, 19.08394999,  5.11548663,
       23.45074967, 13.85296855, 12.42118617, 28.37910157, 26.84107697,
       11.74165378, 22.28759872, 18.6445169 , 19.79237269, 10.28371756,
       25.2840556 , 24.82761179, 28.2061687 , 23.80044731, 10.73066869,
       12.02892389, 20.47827231, 29.2280216 , 12.92462872, 17.94987897,
       25.57452804, 13.71457284, 23.24703905,  8.3126209 , 18.81240149,
       16.63627203, 14.29203098, 13.66762306, 18.10182597, 26.6113716 ,
       18.62600398, 14.44067462, 16.60994947, 14.70270789, 27.72454879,
       13.68579552,  7.3841677 , 22.60594935, 14.76277693,  7.24916139,
       20.41537249, 18.24440519, 25.22213309, 24.79131444,  7.21280033,
       28.53830068,  4.66025698, 29.38740801, 15.08472493, 23.97368052,
       21.80660012, 17.55855999, 22.89292123, 29.08691938,  5.2248341 ,
       20.42097122, 12.70455782, 18.81608529, 23.68818474, 15.81996125,
        8.89185398, 15.17916431, 18.07401743, 18.48573057, 19.22177312,
       22.50662057,  4.60175205, 22.01681432, 17.87277112, 16.88625822,
       17.5494068 , 15.35517927,  4.83084388, 17.95139458, 25.82301272,
        6.44830275, 26.16051622,  7.32447336, 14.93268835, 19.37738094,
       19.97699938,  8.47864621,  6.85052826, 21.3802461 , 14.8459674 ,
        9.45551437, 14.04300749, 10.3813933 , 14.18589091,  8.14182866,
        8.76121424, 17.05886657, 13.5563467 , 28.53151333, 22.87243781,
       29.08329392,  9.44989275, 13.10900145, 13.90150217, 26.84127161,
       27.05210419, 18.24988382, 27.95626963,  5.45846872, 16.20204882,
       14.27089372, 27.7034827 , 10.03176145, 10.81724901, 20.17012723,
        6.90302255,  8.40405906, 14.57690145,  8.31732016, 19.34030631,
       25.24395038, 14.6219316 , 24.69495825, 25.05326839,  7.90201269,
       14.84740344, 27.11043343, 10.94072269, 13.15057551, 17.85603641,
       23.25152903, 10.13764527, 25.77365036, 25.9639151 , 14.09047456,
       29.12211414, 27.87558479, 20.1682812 , 24.19623734, 20.72955238,
       16.77220761, 11.75729114, 17.13781407, 14.16081441, 13.81617038,
       15.21891204,  5.8272354 , 13.94811398,  6.60617799, 13.13051914,
        6.09971157, 28.16259307, 20.83160318, 18.19253974, 26.87109286,
       17.45033827, 24.29327626,  6.27315295,  9.37231471,  8.44921909,
        6.98024855, 29.2137093 , 12.60159175, 24.2261783 , 24.322704  ,
       22.94655847, 26.99844993, 25.34845545, 27.45350451,  8.81128854,
       14.94751373,  9.99615955, 24.15665169, 19.3036122 , 12.00305682,
       15.48119172, 11.03951456,  5.14948003, 16.03692246, 20.90910415,
       12.31933834, 10.80568661,  8.77637358, 25.96800252, 11.2888158 ])

In [85]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, predictions)
r2

0.9985425375817377

In [86]:
n = X.shape[0]
p = X.shape[1]

#Tính Adj r2
adj_r2 = 1 - (1-r2)*(n-1)/(n-p-1)
adj_r2

0.9985352062818471

In [87]:
import joblib
joblib.dump(model, 'sale.joblib')

['sale.joblib']

In [63]:
import pandas as pd
import joblib

model_test = joblib.load('label.joblib')
df_test = pd.DataFrame([[0.5,0.27,0.015,0.1,0.05]])
max(model_test.predict_proba(df_test)[0]), model_test.predict(df_test)[0]

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

(0.58, 1)

In [2]:
import pandas as pd
df1 = pd.read_excel('trainingdata.xlsx')
df1.head()

   import_date  prev_quantity  curr_quantity  export_price  last_sale  label
0          100           1399            906     212000000        101     -1
1           99            328            301     369000000         10      0
2          272           2213           1418     403000000        111     -1
3           33            453             66     454000000          4      1
4          301           2231            797     362000000        219     -1

In [3]:
max(df1['import_date']), max(df1['prev_quantity']), max(df1['curr_quantity']), max(df1['export_price']), max(df1['last_sale'])

(365, 2494, 2340, 500000000, 352)